@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  /* ### Primary */

  --desaturated-red: #ce9797;
  --soft-red: #f96262;

  /* ### Neutral */

  --dark-grayish-red: #413a3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

img {
  max-width: 100%;
}
